@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    width: 720px;
    margin: 50px auto 30px auto;
}

/* Header */
#survey-header {
    margin-bottom: 40px;
    text-align: center;
}
#title {
    margin: 0;
    margin-bottom: 10px;
}
#description {
    margin: 0;
}


/* Form & Elements */
#survey-form {
    padding: 15px;
    background-color: rgba(65, 231, 197, 0.85);
    border-radius: 8px;
}
.form-group {
    margin: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.clue {
    color: rgb(77, 77, 77);
}
.form-control {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}
.form-control:focus {
    outline: none;
}
#add-info {
    width: 100%;
    height: 150px;
    padding: 10px;
    resize: vertical;
}
#submit {
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
