@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Kanit:wght@400;500;600&family=Kaushan+Script&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(
        "https://previews.123rf.com/images/naum100/naum1001503/naum100150300231/38158058-seamless-pet-pattern-hand-drawing-vector-.jpg");
    background-attachment: fixed;
}

#container {
    width: 720px;
    margin: 50px auto 30px auto;
    padding: 20px;
    background-color: rgba(171, 222, 239, 0.85);
    box-shadow: 0px 0px 20px -5px rgb(10, 106, 109);
    border-radius: 8px;
}

/* Header */
#survey-header {
    margin: 20px 0 40px 0;
    text-align: center;
}
#title {
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    color: rgb(193, 255, 63);
    text-shadow: 2px 2px 8px rgb(0, 37, 38);
}
#description {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(0, 127, 137);
}


/* Form & Elements */
#survey-form {
    margin: 40px 0 20px 0;
}

.form-group {
    margin: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Merienda One', cursive;
    font-size: 18px;
}
.clue {
    font-size: smaller;
    color: rgb(25, 25, 25);
}
.form-field {
    display: block;
    width: 100%;
    padding: 5px;
    border: 2px solid #212121;
    border-radius: 3px;
}
.form-field,
.form-field::placeholder {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.form-field:focus {
    outline: none;
}


#dropdown {
    border: 2px solid #212121;
    cursor: pointer;
}
#dropdown,
option {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


fieldset {
    border: 2px solid #212121;
    border-radius: 3px;
}
legend {
    font-family: 'Merienda One', cursive;
    font-size: 18px;
}
fieldset label {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18   px;
}


#add-info {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 10px;
    resize: vertical;
    border: 2px solid #212121;
    border-radius: 3px;
}
#add-info,
#add-info::placeholder {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 14px;
}


#submit {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(193, 255, 63);;
    border: 2px solid #212121;
    border-radius: 3px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
